<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>{{ book.title }}</h1>
        <div class="container">
            <div class="row">
                <p>ID: {{ book.id }}</p>
            </div>

            <div class="row">
                <div class="mr-2">
                    <p>Description: </p>
                </div>
                <div>
                    <p>{{ book.desc }}</p>
                </div>
            </div>
            <div class="row">
                <p>Authors:</p>
            </div>
            <ul>
                {% for author in book.authors.all %}
                <li>{{ author.first_name }} {{ author.last_name }}</li>
                {% endfor %}
            </ul>

            <form>
                <select name="authorSelect" id="">
                    <option selected>-select an author-</option>
                    {% for author in authors %}

                    <option>{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
            </form>

        </div>
    </div>
</body>

</html>